<div class="row-fluid">
<div class="span11 channels_control no_margin_left" >
	<div class="span10">
		<p>The Lounge</p>
		
	</div>
	<div class="span2">
		<span class="badge badge-info">8</span>
	</div>
</div>
</div>