/* Large desktop */
@media (min-width: 1200px) { }
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { }
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  #channel_area{
    display:none;
  }
  #chat_area{
    left:0px;
  }

  #people_area{
    display:none;
  }
  #chat_area_wrap{
    position:absolute;
    height:100%;
    top:0px;
    left:0px;
    width:100%;
  }
}
 
/* Landscape phones and down */
@media (max-width: 480px) { 
  #channel_area{
    display:none;
  }
}